/* houses.css */

.house {
	margin: 0 2%;
}

.house-table-container {
	width: 100%;
	overflow-x: auto;
}

.filter-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	padding: 10px;
}

.price-search {
	display: flex;
	flex-direction: row; /* Display price search inputs side by side */
}

.search {
	flex: 1;
	margin-right: 10px;
}

.search-label {
	display: block;
	margin-bottom: 5px;
}

.search-input,
.search-select {
	width: 100%;
	max-width: 300px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #fff;
}

.table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

.table th,
.table td {
	border: 1px solid #ddd;
	padding: 10px;
	text-align: center;
}

.table th {
	background-color: #f5f5f5;
}

.table-row:nth-child(even) {
	background-color: #f2f2f2;
}

/* Responsive Styles for Small Devices */
@media (max-width: 576px) {
	.table th,
	.table td {
		padding: 8px;
	}

	.search {
		margin-right: 0;
		margin-bottom: 10px;
	}

	.price-search {
		flex-direction: column; /* Display price search inputs in a column on small screens */
		margin-top: 10px;
	}

	/* Add responsive styles for select elements and options */
	.search select,
	.search select option {
		width: 100%;
		max-width: 100%;
	}
}

/* Responsive Styles for Medium Devices */
@media (max-width: 992px) {
	.filter-container {
		flex-direction: column;
	}

	.search {
		margin-right: 0;
		margin-bottom: 10px;
	}

	.house-table-container {
	}

	.table th,
	.table td {
	}
}
